extends layout

block content
  div.search-container
    h1 Mapquery Examples
    h2 Static SVG
    p In this example, we've saved a static SVG from the Mapquery Search, embedded it into an HTML document, then bound data on worker gender to each path. See /public/examples.js
    div.map-preview#map-1
    div.scale#scale-1
    p
    p (More to come!)