doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/select2.min.css")
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    include nav
    div.mq-container
      if error
        include error_message
      block content
  script(src="/javascripts/d3.v3.min.js")
  script(src="/javascripts/topojson.min.js")
  script(src="/javascripts/d3.geo.projection.min.js")
  script(src="/javascripts/queue.min.js")
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/select2.min.js")
  script(src="/javascripts/FileSaver.min.js")
  if (title == "Mapquery Search")
    script(src="/javascripts/index.js")
  if (title == "Mapquery Examples")
    script(src="/javascripts/examples.js")